.basket-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    position: sticky;
    top: 20px;
    width: 360px;
    height: 600px;
    background-color: #363534;
    filter: opacity(0.95);
    border-radius: 30px 0 0 30px;
    z-index: 999;
    gap: 10px;
}

.basket-content h2 {
    color: #FDEADC;
}

.basket-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    color: #FDEADC;
    text-align: center;

}

.basket-empty-container p {
    padding: 15px;
}

.basket-container {
    width: 80%;
    background-color: #FDEADC;
    padding: 10px;
    border-radius: 15px;

}

.basket-container p {
    padding: 15px;
}

.basket-item-detail-container {
    display: flex;
    justify-content: space-between;
}

.basket-item-amount-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket-item {
    font-size: 18px;
    font-weight: 700;
}

.basket-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    height: 315px;
    width: 95%;
}