.categories-section {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    background-color: #F7F6F1;
    padding: 10px 20px;
    gap: 10px;

}

.category-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.category-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.category-card {
    display: flex;
    align-items: center;
    gap: 15px;
}

.categoriesName {
    font-size: 18px;
    font-family: 'Palanquin Dark';
    font-weight: 600;
    color: var(--secondary-bg);
}

.dividing-line {
    border-left: 2px solid var(--secondary-bg);
    height: 20px;
    align-self: center;
}