header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-bg);
    height: 108px;
    padding: 10px 30px;
}

.header-logo {
    width: 93px;
    height: 38px;
}

.hamburger-menu {
    width: 60px;
    height: 60px;
}

.header-company-image {
    width: 100%;
    object-fit: cover;
}

.company-section{
    text-align: center;
}

.company-image-section {
    display: flex;
    height: 350px;
}

.company-logo-section {
    position: relative;
    top: -125px;
    display: flex;
    justify-content: center;
}

.company-logo-section img {
    width: 200px;
    height: 200px;
}

.company-details-section {
    position: relative;
    top: -125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.name1 {
    font-size: 48px;
    font-family: 'Palanquin Dark';
    font-weight: 700;
    color: var(--primary-bg);
}

.name2 {
    font-size: 48px;
    font-family: 'Palanquin Dark';
    font-weight: 700;
    color: var(--secondary-bg);
}

.company-name-reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 20px;
}

.reviews-container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #FACAAC;
    border-radius: 4px;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    gap: 5px;
    padding: 5px 10px;
    width: 110px;
    height: 32px;
}

.reviews-container img {
    width: 24px;
}

.rating {
    font-family: 'Palanquin Dark';
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-bg);
}

.reviews {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 18px;
    color: var(--tertiary-bg);
}

#slogan{
    font-family: 'Palanquin';
    font-weight: 700;
    font-size: 24px;
}