.menus-section {
    position: absolute;
    width: 100%;
    /* background-color: yellow; */
}

.menus-content {
    width: 100%;
    /* background: red; */
    height: 2500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menus-list {
    width: 100%;
    position: absolute;
}

.menus-list-categories {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--primary-bg);
    gap: 20px;
}

.menus-list-cat-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.menus-list-categories img {
    display: flex;
    width: 68px;
    height: 68px;
    margin-top: -8px;
}

.menus-list-categories h2 {
    display: flex;
    width: 60%;
    align-items: center;
    color: white;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-top: 25px;
}

.menu-detail-container {
    display: flex;
    align-items: center;
    background-color: #FDEADC;
    width: 695px;
    height: 140px;
    padding: 10px;
    border-radius: 12px;
    gap: 20px;
}


.menu-name-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-name-container span {
    font-size: 24px;
    ;
}

.menu-name-container p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}

.menu-name-container h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
}

.menu-name-detail-container {
    display: flex;
    justify-content: space-between;
}

.add-to-basket-container {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    height: 50px;
}

.addToBasket {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--secondary-bg);
    font-size: 16px;
    font-weight: 600;
}

.addedBasket {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--primary-bg);
    font-size: 16px;
    font-weight: 600;
}